#contacts {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    border-collapse: collapse;
    width: 600px;
}

#contacts th{
    background-color: #1e2e01;
    color: #fff;
    text-align: left;
    padding: 10px;
}

#contacts td{
    border: 1px solid #dbebe3;
    padding: 10px;

}

#contacts tr:nth-child(even) {
    background-color: #8f757549;
}

#contacts tr:hover{
    cursor: pointer;
    background-color: red;
    color: bisque; 
}