<main id="services-content">
    <section id="services">

        <h2>{{title}}}</h2>

        <ul>
            <li *ngFor="let service of services | async">
                <h3>{{service.title}}</h3>
                <p>{{service.description}}</p>
                <p>{{Preço A partir de R${{services.price}}}} <span *ngIf="servicem.monthly">por mês</span></p>
            </li>
        </ul>
    </section>

    <aside class="cotacao">
        <h3>Cotação</h3>
        <form action="" id="form-cotacao">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome">
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
            <label for="assunto">Assunto</label>
            <textarea name="assunto" id="assunto" cols="29" rows="5"></textarea><br>
            <button type="submit" class="button">Enviar</button>
        </form>
    </aside>
</main>